@charset "utf-8";

body{
    width: 750px;
    height: 1554px;
    background-image: url("../img/back.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.cha{
    margin-bottom: 200px;
    margin-left: 300px;
    position: absolute;
}

.talk{
    margin-left: 150px;
    position: absolute;
}

.tta{
    width: 80px;
    height: 180px;
    margin-left: 700px;
    margin-top: 300px;
    position: absolute;
}